<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#005751">
    <title>子虚栈·枢要</title>
    <link rel="stylesheet" href="./statics/styles/normalize.css">
    <link rel="stylesheet" href="./statics/styles/heti.min.css">
    <link rel="stylesheet" href="./statics/styles/style.css">
    <link rel="shortcut icon" href="./statics/imgs/logo.svg">
    <style>
        .bg3
        {
            background : linear-gradient(to top, rgba(0, 37, 61, 1) 0.08%, rgba(0, 87, 81, 1) 100%);
            z-index: -1;
        }
    </style>
</head>
<body class="pos-relative mori">
<div class="window-size pos-absolute pos-all-0 bg3"></div>
<div class="window-size pos-absolute pos-all-0 mori-clip">
    <div id="mori" class="pos-relative">

        <div class="window-size filter pos-absolute pos-all-0 bg"></div>
        <div data-depth="0.8" class="filter shrub deep-0"></div>
        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves3" style="opacity: 0.4;"></div>
        <div data-depth="1" class="filter pos-absolute pos-all-0 tree1"></div>
        <div data-depth="0.8" class="filter shrub deep-1"></div>
        <div data-depth="0.6" class="filter pos-absolute pos-all-0 tree2"></div>
        <div data-depth="0.1" class="light"></div>
        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves2" style="opacity: 0.6;"></div>
        <div data-depth="0.4" class="filter shrub deep-2"></div>
        <div data-depth="0.2" class="filter pos-absolute pos-all-0 tree3"></div>
        <div data-depth="0.1" class="filter shrub"></div>
        <div data-depth="0" class="filter pos-absolute pos-all-0"  id="leaves1" style="opacity: 0.8"></div>

    </div>
</div>

<div class=" pos-absolute pos-all-0">
    <div class="body pos-relative">
        <div class="pos-absolute pos-all-0 filter ink" v-scope>
            <div class="content heti heti--vertical" v-if="!vueIsLoaded">
            </div>
            <div class="content heti heti--vertical hide" v-bind:style="{display: vueIsLoaded ? 'block' : 'none'}">
                <p v-for="ink in inks" class="" v-bind:style="{fontSize: ink.size}">
                    <span v-for="str in ink.list" style="display: block">{{ str }}</span>
                </p>
            </div>
        </div>
        <div data-depth="0" class="pos-absolute pos-all-0 me">
            <div class="content filter full-size">
                <div class="full-size no-filter">
                    <header >
                        <h1 style="font-family: Foundation" >子虚栈·枢要</h1>
                        <h2 ><a href="https://blog.si-on.top/about">「秉蕳<span style="display: inline-block;width: 1.5vw">」</a></span></h2>
                        <div>
                            <p style="font-family: Foundation" class=" heti">
                                站点名取自司马相如「子虚赋」以及计算机术语Stack（栈）<br/>
                                意为虚拟的，堆栈学习生活经验的云端棚子<br/>
                            </p>
                        </div>
                        <div class="modparent">
                            <div class="modblock">
                                <div class="heti heti--vertical">
                                    <p style="font-size:15px;font-family: Foundation"><a style="color:azure;font-size:18px;font-weight:bold;", target="_blank", href="https://blog.si-on.top/">博客</a> <abbr title="感情用事文章写作者✍️">乘兴</abbr>而肝，兴尽而🕊。</p>
                                    <p style="font-size:15px;font-family: Foundation"><a style="color:azure;font-size:18px;font-weight:bold;", target="_blank", href="https://ink.si-on.top/">写作</a> 文诗藏卷，研点细墨。</p>
                                    <p style="font-size:15px;font-family: Foundation"><a style="color:azure;font-size:18px;font-weight:bold;", target="_blank", href="https://sionreading.notion.site/">读书</a>  阅读所得，生活所感。</p>
                                    <p style="font-size:15px;font-family: Foundation"><a style="color:azure;font-size:18px;font-weight:bold;", target="_blank", href="https://tg.si-on.top/">闲言</a>  欲念所及，累牍连篇！</p>
                                    <p style="font-size:15px;font-family: Foundation"><a style="color:azure;font-size:18px;font-weight:bold;", target="_blank", href="https://gallery.si-on.top/">摄影</a>  目遇成色，取之用之。</p>
                                    <p style="font-size:15px;font-family: Foundation"><a style="color:azure;font-size:18px;font-weight:bold;", target="_blank", href="https://cloud.si-on.top/">云盘</a>  <abbr title="包含个人学习记录、技术文档、考研资料、外刊等">奇货</abbr>独藏，何若众乐？</p>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="pos-absolute filter footer">
    <p >&copy; 庚子年秋 - 癸卯 | <a href="https://si-on.top">子虚栈 </a> - 秉蕳 | 修改自<a href="https://tooru.ink">「徹」</a></p>
</footer>

<script src="./statics/scripts/vue.js"></script>
<script src="./statics/scripts/parallax.min.js"></script>
<script src="./statics/scripts/fall.js"></script>
<script>

    const mori = document.getElementById('mori');
    const parallaxInstance = new Parallax(mori);

    /** @type {FallItem[]} */
    const leaves = [];
    for (let i = 1; i <= 5; i++) {
        let path = `./statics/imgs/leaves/leaves${i}.svg`;
        leaves.push(new FallItem(path, 1))
    }

    const leaves3 = document.getElementById("leaves3")
    const fall3 = new Fall(leaves3, leaves, 30, 5)

    const leaves2 = document.getElementById("leaves2")
    const fall2 = new Fall(leaves2, leaves, 30, 5)

    const leaves1 = document.getElementById("leaves1")
    const fall1 = new Fall(leaves1, leaves, 15, 5)

    PetiteVue.createApp({
        inks: [
        ],
        index: 0,
        vueIsLoaded: true,
    }).mount();

</script>
</body>
</html>
